body {
/* background-color: rgba(16, 108, 111, 0.774); */
background-image: url(https://www.dreamtemplate.com/dreamcodes/bg_images/color/c11.jpg); 
color: white;
}
























































footer {
    background-color: black;
    height: 80px;
    
}
footer div h3 {
    
    text-align: center;
    font-size: 40px;

}